body { background-color: white;
       color: #101010;
       font-family: sans-serif;
       font-size: 100%; }
a:link { color: #4682b4; }
a:visited { color: #7eaacd; }
p.selected a:link { color: #9c3030; }
p.selected a:visited { color: #c33c3c; }
p { display: block;
    padding-left: 2.5em;
    text-indent: -1.7em; }
.txtbox { margin-left: 0.3em;
          margin-top:  3px; }
